.btn{
    color: #fff;
    font-family: 'Futura Pro';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    width: 150px;
    height: 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .btnIcon{
        position: absolute;
         top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}