.starsContainer{
    height: 100vh;
    width: 100vw;
    background: #050F41;
    overflow: hidden;
    position: fixed;
    z-index: -2;
}

.starsBackgroundImg{
    width:100%;
    height: auto;
    object-fit: cover;
    opacity: 0.13;
}