.productContainer {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 126px;
    width: 480px;
    height: 524px;
}

.productPosLeft{
    grid-column: 1;
    margin-top: -400px;
    justify-self: left;
    flex-direction: row-reverse;
}

.productPosRight{
    grid-column: 2;
    justify-self: right;
    flex-direction: row;
}

.productImageWrapper{
    width: 418px;
    height: 418px;
    display: grid;
}

.productRadial{
    width: 418px;
    height: 418px;
    position: relative;
    grid-row: 1;
    grid-column: 1;

    .circle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }

    .outerCircle{
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.15);
    }

    .secondCircle {
        width: 84%;
        height: 84%;
        background: rgba(255, 255, 255, 0.25);
    }

    .innerCircle {
        width: 71.5%;
        height: 71.5%;
        background: rgba(255, 255, 255, 0.35);
    }
}

.productImage{
    width: 418px;
    height: 418px;
    grid-row: 1;
    grid-column: 1;
    z-index: 1;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.productNameWrapper{
    width: 62px;
    height: 418px;
    position: relative;
}

.productName{
    color: #fff;
    font-family: 'Futura Pro';
    font-weight: 300;
    font-size: 13px;
    line-height: 62px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 62px;
    width: 418px;
    transform-origin: right;
    transform: rotate(-90deg) translate(10%, -50%);
}

.productCTA{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 418px;
    height: 64px;
}


