.productGridWrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 26px;
    padding: 0 63px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.productGrid{
    grid-column: 2/12;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
