html,body {
    height:100%;
}

body {
  margin: 0;
  font-family: 'Futura Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Futura Pro', sans-serif
}

p, h1, h2, h3{
    padding: 0;
    margin: 0;
}
